<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proauth"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.proauth.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SetPreferencesActivity"
            android:label="@string/title_activity_main" >
        </activity>
        
        <activity
            android:name=".ManageAppsActivity"
            android:label="@string/title_manage_apps" >
            <intent-filter>
                <action android:name="com.example.proauth.ManageAppsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".FAQActivity"
            android:label="@string/title_activity_faq" >
            <intent-filter>
                <action android:name="com.example.proauth.FAQActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ConvenienceActivity"
            android:label="@string/title_activity_conv" >
            <intent-filter>
                <action android:name="com.example.proauth.ConvenienceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".LockScreenActivity"
            android:label="@string/title_lockscreen"
            android:screenOrientation="portrait"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="com.example.proauth.LockScreenActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <service android:name="com.example.proauth.MonitorService" />
        
        <receiver android:name="StartupReceiver">
        	<intent-filter>
        		<action android:name="android.intent.action.BOOT_COMPLETED"/>
        		<action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
        	</intent-filter>
        </receiver>
        
    </application>

</manifest>